In [31]:
import pandas as pd
import numpy as np
from nltk import *
import re

In [32]:
df = pd.read_csv('tmdb_movies_data.csv')
df.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,137999939.3,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,137999939.3,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015,101199955.5,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015,183999919.0,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015,174799923.1,1.385749e+09

In [43]:
df.describe()

,id,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,budget_adj,revenue_adj
count,10866.000000,10866.000000,1.086600e+04,1.086600e+04,10866.000000,10866.000000,10866.000000,10866.000000,1.086600e+04,1.086600e+04
mean,66064.177434,0.646441,1.462570e+07,3.982332e+07,102.070863,217.389748,5.974922,2001.322658,1.755104e+07,5.136436e+07
std,92130.136561,1.000185,3.091321e+07,1.170035e+08,31.381405,575.619058,0.935142,12.812941,3.430616e+07,1.446325e+08
min,5.000000,0.000065,0.000000e+00,0.000000e+00,0.000000,10.000000,1.500000,1960.000000,0.000000e+00,0.000000e+00
25%,10596.250000,0.207583,0.000000e+00,0.000000e+00,90.000000,17.000000,5.400000,1995.000000,0.000000e+00,0.000000e+00
50%,20669.000000,0.383856,0.000000e+00,0.000000e+00,99.000000,38.000000,6.000000,2006.000000,0.000000e+00,0.000000e+00
75%,75610.000000,0.713817,1.500000e+07,2.400000e+07,111.000000,145.750000,6.600000,2011.000000,2.085325e+07,3.369710e+07
max,417859.000000,32.985763,4.250000e+08,2.781506e+09,900.000000,9767.000000,9.200000,2015.000000,4.250000e+08,2.827124e+09

In [47]:
df = df[df['vote_average'] >6][df['vote_count']>50]
df.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,137999939.3,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,137999939.3,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015,101199955.5,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015,183999919.0,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015,174799923.1,1.385749e+09

In [4]:
df.columns

Index(['id', 'imdb_id', 'popularity', 'budget', 'revenue', 'original_title',
       'cast', 'homepage', 'director', 'tagline', 'keywords', 'overview',
       'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'release_year', 'budget_adj',
       'revenue_adj'],
      dtype='object')

In [5]:
df = df[['popularity', 'budget', 'revenue', 'original_title',
       'cast', 'director', 'keywords', 'overview', 'genres', 'vote_average', 'imdb_id']]

In [6]:
df['net_profit'] = df['revenue'] - df['budget']
df = df.drop(['budget', 'revenue'], axis=1)

In [7]:
def verticalBar_remover(df, col_name):
    new = []
    for item in df[col_name]:
        if type(item) != str:
            item = str(item)
    # Alternative code to get str out of list # " ".join(['sahaj', 'oo'])
            
        y = ''
        for i in item.split('|'):
            y = y + ' ' + i.replace(" ", "")   #y = y + ',' + ' ' + i
                 
        new.append(y.strip())
    #print(new)
    df[col_name] = new

In [8]:
clean_df = df
for col_name in ['cast','director', 'keywords', 'genres']:
    verticalBar_remover(clean_df, col_name)

In [9]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [10]:
from nltk.corpus import stopwords 

def tokeniser(df, col):
    sw = list(set(stopwords.words('english'))) + ['.', ',', '?']
    li = []
    for sentt in df[col]:
        words = word_tokenize(str(sentt).lower())
        words = [w for w in words if w not in sw]
        final = ''
        for x in words:
            final = final + " " + x
        li.append(final)
    df[col] = li

tokeniser(clean_df, 'overview')

In [11]:
def numbers_normalised(df, col_list):
    for col in col_list:
        maxx = df[col].max()
        minn = df[col].min()
        df[col] = round((df[col] - minn) / (maxx - minn), 3) 
    return df.head()

numbers_normalised(clean_df, ['popularity', 'vote_average', 'net_profit' ])

,popularity,original_title,cast,director,keywords,overview,genres,vote_average,imdb_id,net_profit
0,1.000,Jurassic World,ChrisPratt BryceDallasHoward IrrfanKhan Vincen...,ColinTrevorrow,monster dna tyrannosaurusrex velociraptor island,twenty-two years events jurassic park isla nu...,Action Adventure ScienceFiction Thriller,0.649,tt0369610,0.601
1,0.862,Mad Max: Fury Road,TomHardy CharlizeTheron HughKeays-Byrne Nichol...,GeorgeMiller,future chase post-apocalyptic dystopia australia,apocalyptic story set furthest reaches planet...,Action Adventure ScienceFiction Thriller,0.727,tt1392190,0.217
2,0.398,Insurgent,ShaileneWoodley TheoJames KateWinslet AnselElg...,RobertSchwentke,basedonnovel revolution dystopia sequel dystop...,beatrice prior must confront inner demons con...,Adventure ScienceFiction Thriller,0.623,tt2908446,0.203
3,0.339,Star Wars: The Force Awakens,HarrisonFord MarkHamill CarrieFisher AdamDrive...,J.J.Abrams,android spaceship jedi spaceopera 3d,thirty years defeating galactic empire han so...,Action Adventure ScienceFiction Fantasy,0.779,tt2488496,0.771
4,0.283,Furious 7,VinDiesel PaulWalker JasonStatham MichelleRodr...,JamesWan,carrace speed revenge suspense car,deckard shaw seeks revenge dominic toretto fa...,Action Crime Thriller,0.753,tt2820852,0.585

In [12]:
clean_df['final_numeric_weights'] = clean_df['vote_average'] + clean_df['net_profit'] + clean_df['popularity']

In [13]:
# Left out overview from dataframe
textual_df = clean_df[['original_title' , 'cast', 'director','keywords', 'genres', 'imdb_id']].apply(lambda x: x.astype(str).str.lower())
numeric_df = clean_df['final_numeric_weights']
#type(numeric_df['net_profit'][0])
final_df = textual_df.merge(numeric_df, left_index=True, right_index=True)
# final_df['text'] = final_df['cast'] + final_df['director'] + final_df['genres'] + final_df['keywords']
# final_df = final_df[['text', 'popularity', 'vote_average', 'net_profit' ]]
final_df.head()

,original_title,cast,director,keywords,genres,imdb_id,final_numeric_weights
0,jurassic world,chrispratt brycedallashoward irrfankhan vincen...,colintrevorrow,monster dna tyrannosaurusrex velociraptor island,action adventure sciencefiction thriller,tt0369610,2.250
1,mad max: fury road,tomhardy charlizetheron hughkeays-byrne nichol...,georgemiller,future chase post-apocalyptic dystopia australia,action adventure sciencefiction thriller,tt1392190,1.806
2,insurgent,shailenewoodley theojames katewinslet anselelg...,robertschwentke,basedonnovel revolution dystopia sequel dystop...,adventure sciencefiction thriller,tt2908446,1.224
3,star wars: the force awakens,harrisonford markhamill carriefisher adamdrive...,j.j.abrams,android spaceship jedi spaceopera 3d,action adventure sciencefiction fantasy,tt2488496,1.889
4,furious 7,vindiesel paulwalker jasonstatham michellerodr...,jameswan,carrace speed revenge suspense car,action crime thriller,tt2820852,1.621

# all in 1 count vec

In [14]:
####### All textual data in one col
test = final_df
test['text'] = final_df['cast'] + final_df['director'] + final_df['genres'] + final_df['keywords']
test = test['text']
test[:1]

0    chrispratt brycedallashoward irrfankhan vincen...
Name: text, dtype: object

In [15]:
cvv = CountVectorizer()
text_vectorised = cvv.fit_transform(test).toarray()

In [22]:
cos_sim_text = cosine_similarity(text_vectorised, text_vectorised)

In [35]:
movies = 'safe'
idx = final_df[final_df['original_title'] == movies ].index
    
text_10 = pd.Series(cos_sim_text[idx][0]).sort_values(ascending=False)[:10]
text_idx = text_10.index
text_recom_idx = (text_10 + final_df['final_numeric_weights'].loc[text_idx]).sort_values(ascending=False).index
#cast_recom = final_df.loc[cast_idx]
#print(list(final_df.loc[cast_recom_idx]))
final_df.loc[text_recom_idx]

array([[0.        , 0.        , 0.        , 0.        , 1.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.16116459, 0.        ,
        0.        , 0.09090909, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.19069252, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.08703883,
        0.        , 0.        , 0.        , 0.        , 0.0836242 ,
        0.0836242 , 0.        , 0.        , 0.09090909, 0.0836242 ,
        0.09090909, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.09090909,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ]])

In [48]:
final_df.reindex?

# Category wise vectorised

In [ ]:
#Genre Vectoriser
cv = CountVectorizer(ngram_range=(1,1))
genre_vectorised = cv.fit_transform(final_df['genres']).toarray()
# Director Vectoriser
cv2 = CountVectorizer(ngram_range=(2,3))
director_vectorised = cv.fit_transform(final_df['director']).toarray()
# Cast Vectoriser
cv3 = CountVectorizer(ngram_range=(2,3))
cast_vectorised = cv.fit_transform(final_df['cast']).toarray()

#Cosine Similarities
cos_sim_genre = cosine_similarity(genre_vectorised, genre_vectorised)
cos_sim_director = cosine_similarity(director_vectorised, director_vectorised)
cos_sim_cast = cosine_similarity(cast_vectorised, cast_vectorised)

In [ ]:
print(genre_vectorised)

In [ ]:
#final_df[final_df['original_title'] == '3 idiots']
# list(final_df[final_df['director'] == 'colin trevorrow']['original_title'])

# Adding weight of Numerical data like profit etc to cosine similarity to get an overall weight involving all factors

In [ ]:
idx =  [0, 1, 2]
final_df['final_numeric_weights'].loc[idx]

In [ ]:
  def recommendation(movies):
    
    idx = final_df[final_df['original_title'] == movies ].index
    
    casts = pd.Series(cos_sim_cast[idx][0]).sort_values(ascending=False)
    casts = casts[casts >= 0.49]
    cast_idx = casts.index 
    cast_recom_idx = (casts + final_df['final_numeric_weights'].loc[cast_idx]).sort_values(ascending=False).index
    cast_recom = final_df['original_title'].loc[cast_recom_idx]
    
    genres = pd.Series(cos_sim_genre[idx][0]).sort_values(ascending=False)[:10]
    genres = genres[genres >= 0.49]
    genre_idx = genres.index
    genre_recom = final_df['original_title'].loc[genre_idx]
    
    directors = pd.Series(cos_sim_director[idx][0]).sort_values(ascending=False)[:10]
    directors = directors[directors >= 0.49]
    director_idx = directors.index 
    director_recom_idx = (directors + final_df['final_numeric_weights'].loc[director_idx]).sort_values(ascending=False).index
    director_recom = final_df['original_title'].loc[director_recom_idx]
    
    print(casts)
    print(genres)
    print(directors)
    #final = pd.Series(list(cast_recom_idx) + list(director_recom_idx) + list(genre_idx)).sort_values(ascending=False).index
    #print(final_df['original_title'].loc[final][:10])
    
recommendation('the notebook')

In [ ]:
x= 10
if x >= 10:
    print('h')

In [ ]:
final_df[final_df['original_title'] == 'the notebook']

In [ ]:
final_df[final_df['original_title'] == 'jurassic world']